
<div class="profile-container">

  <div class="profile-left">
    <div class="profile-card-wrapper">
      <div class="profile-card">

        <% provide(:title, @user.name) %>
        <div class="profile-card-image">
          <div class="profile-card-avatar">
            <img src="https://vignette.wikia.nocookie.net/muppet/images/c/c9/SC_169.jpg/revision/latest/scale-to-width-down/300?cb=20180407180306" width="300" height="320" alt="">
            <%# <%= gravatar_for @user %>
          </div>

          <div class="profile-card-name">
            <%= @user.name %>
          </div>

          <div class="profile-card-description">
            <a><%= @user.description %></a>
          </div>

        </div>

        <div class="profile-card-under-placeholder">
          <div class="profile-icon">
            <a href="editprofile">
              <i class="far fa-edit">Edit profile</i>
            </a>
          </div>
          <div class="profile-icon">
            <a href="favourites">
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <i class="far fa-bookmark"> Fav recipes</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-right">
  <h1>Recipes go here</h2>
  </div>
</div>
