<h1>Add Ingredients</h1>

<%= form_for @ingredient, url: {action: "create"}, html: {class: "new-ingredient-form"} do |f| %>
 <div id='ingredient_1'></div>
 <div id='ingredient_2'></div>
 <div id='ingredient_3'></div>
 <div id='ingredient_4'></div>
 <div id='ingredient_5'></div>
 <div id='ingredient_6'></div>
 <div id='ingredient_7'></div>
 <div id='ingredient_8'></div>
 <div id='ingredient_9'></div>
 <div id='ingredient_10'></div>
 <div id='ingredient_11'></div>
 <div id='ingredient_12'></div>
 <div id='ingredient_13'></div>
 <div id='ingredient_14'></div>
 <div id='ingredient_15'></div>
 <div id='ingredient_16'></div>
 <div id='ingredient_17'></div>
 <div id='ingredient_18'></div>
 <div id='ingredient_19'></div>
 <div id='ingredient_20'></div>
 <%= f.submit "Submit" %>
<% end %>

<form action="index.html" method="post" id='add_ingredient_form'>
  <input type="button" id="add_ingredient_button" value="More Ingredients">
</form>

<form action="index.html" method="post" id='add_ingredient_form'>
  <input type="button" id="remove_ingredient_button" value="Less Ingredients ">
</form>

<% unless flash[:ocr_text].nil? %>
  <% flash.keep(:ocr_text) %>
  <div class="ocr_output">
    <%= simple_format(flash[:ocr_text]) %>
  </div>
<% end %>
