<h1>Add Ingredients</h1>

<%= form_for @ingredient, url: {action: "create"}, html: {class: "new-ingredient-form"} do |f| %>
 <div id='ingredient_1'></div>
 <div id='ingredient_2'></div>
 <div id='ingredient_3'></div>
 <div id='ingredient_4'></div>
 <div id='ingredient_5'></div>
 <%= f.submit "Add" %>
<% end %>