/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);

body {
  padding: 0;
  font-family: Raleway, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

.navbar {
  font-size: 2em;
  font-weight: 300;
  margin: 1em 2em;
  color: #525252;
  min-width: 380px;
}

.recipe-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card {
  transition: 500ms;
  position: relative;
  background: #fff;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0px 0px 13px 3px rgb(163, 163, 163);
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
}

.recipe-card:hover {
  transition: 300ms;
  box-shadow: 0px 0px 16px 10px rgb(221, 221, 221);
}

.recipe-card-header {
  background: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg");
  background-size: cover;
  min-height: 350px;
}

.recipe-card-liked-button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: #17bebb;
  position: absolute;
  left: 85.5%;
  bottom: 5%;
  transition: 400ms;
}

.recipe-card-unliked-button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: #0b6435;
  position: absolute;
  left: 85.5%;
  bottom: 5%;
  transition: 400ms;
}

.fa-heart {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.fa-heart-broken {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

.recipe-card-liked-button:hover {
  background: #21fffb;
  box-shadow: 0px 5px 30px 1px #17bebb;
  transition: 250ms;
}

.recipe-card-unliked-button:hover {
  background: #0d7e41;
  box-shadow: 0px 5px 30px 1px #008136;
  transition: 250ms;
}

.recipe-card-title {
  color: #212129;
  text-align: left;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 5px 30px;
}

.fa-clock-o {
  color: #9b9b9b;
  margin: 0 30px;
}

.fa-users {
  color: #9b9b9b;
}

.recipe-card-rating {
  margin: 10px 30px;
  color: #ffe500;
}

.recipe-card-description {
  margin: 10px 30px;
}

.recipe-card-cook-btn {
  display: block;
  background: #ef3e36;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  transition: 250ms;
}
.recipe-card-cook-btn:hover {
  background: #17bebb;
  transition: 250ms;
}

.search-button {
  background-color: rgba(255, 255, 255, 0.794);
  border: none;
  height: 2px;
}
.profile-left {
  width: 350px;
  height: 100%;
}

.profile-right {
  width: 80%;
  height: 100%
}
/* 
.profile-container {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
}

.profile-card-wrapper {
  width: 300px;
  height: 500px;
  position: relative;
}

.profile-card {
  margin-left: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 450px;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;
}

.profile-card-image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(138, 138, 138, 0.3);
  transition: .5s;
}

.profile-card-image:hover {
  transform: translateY(-130px);
  opacity: 0.4;
  transition: all .5s;
}

.profile-card-name {
  position: absolute;
  color: #383838;;
  text-align: left;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 5px 20px;
  top: 280px;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.4);
  width: 300px;
  border-radius: 20px 0px 0px 20px;
}

.profile-card-description {
  position: absolute;
  color: #525252;;
  text-align: left;
  font-weight: lighter;
  letter-spacing: 0.1em;
  margin: 5px 10px;
  top: 350px;
  font-size: 15px;
}

.profile-card-under-placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
}

.profile-edit {
  z-index: -1;
}

.profile-card-under {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  font-size: 23px;
  color: #333;
  font-weight: bold;
  margin: 0 6px;
  transition: .4s;
  transform: translateY(200px);
  opacity: 6;
  z-index: -1
} */