/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Montaga&display=swap);

body {
  padding: 0;
  font-family: Raleway, sans-serif;
  list-style-type: none;
  text-decoration: none;

}

.navbar {
  font-size: 2em;
  font-weight: 300;
  margin: 1em 2em;
  color: #525252;
  min-width: 380px;
}

.recipe-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-card-individual {
  box-shadow: 0px 0px 6px 2px rgb(221, 221, 221);
  margin-bottom: 40px;
  width: 400px;
}

.recipe-card {
  transition: 500ms;
  position: relative;
  background: #fff;
  width: 400px;
}

.recipe-card-individual:hover {
  transition: 300ms;
  box-shadow: 0px 0px 13px 3px rgb(163, 163, 163);
}

.recipe-card-header {
  background: url("http://img.taste.com.au/UZVXAdo7/taste/2016/11/chinese-egg-noodle-and-vegetable-stir-fry-94186-1.jpeg");
  background-size: cover;
  min-height: 350px;
}

.recipe-card-liked-button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: #17bebb;
  position: absolute;
  left: 85.5%;
  bottom: 5%;
  transition: 400ms;
}

.recipe-card-unliked-button {
  padding: 15px;
  border-radius: 50%;
  border: none;
  background: #0ea052;
  position: absolute;
  left: 85.5%;
  bottom: 5%;
  transition: 400ms;
}
.fa-ban {
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
}

.fa-heart {
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
}

.fa-plus {
  color: #fff;
  font-size: 2.3em;
  font-weight: bold;
}

.recipe-card-liked-button:hover {
  background: #21fffb;
  box-shadow: 1px 5px 30px 1px #17bebb;
  transition: 250ms;
}

.recipe-card-unliked-button:hover {
  background: #00eb62;
  box-shadow: 1px 5px 30px 1px #00c954;
  transition: 250ms;
}

.recipe-card-title {
  color: #212129;
  text-align: left;
  font-weight: normal;
  letter-spacing: 0.1em;
  margin: 5px 30px;
}

.recipe-card-icons {
  display: flex;
  justify-content: space-between;
}

.recipe-card-title-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-clock-o {
  color: #9b9b9b;
  margin: 0 30px;
}

.fa-users {
  color: #9b9b9b;
}

.recipe-card-description {
  margin: 10px 30px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.recipe-card-cook-btn {
  display: block;
  background: #ef3e36;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 10px;
  transition: 250ms;
}
.recipe-card-cook-btn:hover {
  background: #17bebb;
  transition: 250ms;
}

.search-button {
  background-color: rgba(255, 255, 255, 0.794);
  border: none;
  height: 2px;
}
.profile-left {
  width: 350px;
  height: 100%;
}

.profile-right {
  width: 80%;
  height: 100%
}

.loginregister-container {
  width: 30%;
  margin: 0 60%;
  border-style: none;
  height: 500px;
  border-color: rgb(226, 244, 246);
  background-color: rgba(253, 253, 253, 0.7);
}

.loginregister-header-text {
  color: white;
  text-align: center;
  font-size: 80px;
  background-color: rgba(241, 241, 241, 0.7);
  height: 180px;
  padding-top: 40px;
}

.loginregister-background {
  background-image: url("https://github.com/harrygalliano/ReciPeeps/blob/master/app/assets/images/loginregister.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.loginregister-button {
  margin-left: 25%;
  height: 40px;
  color: #fff;
  font-weight: bold;
  background-color: #0ea052;
  border-radius: 10px;
  border: none;
  letter-spacing: 3px;
  width: 200px;
}

.recipe-show-container {
  margin: 0 auto;
  width: 70%;
  height: 600px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.recipe-show-image {
  background-repeat: no-repeat;
  background-size: contain, cover;
  border-radius: 30px;
  width: 950px;
  height:600px;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.recipe-show-body{
  position: absolute;
  margin: 30px;
  height: 560px;
  width: 65%;
  top: 120px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(187, 187, 187, 0.4);
  overflow: scroll;
}
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fafafa00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(117, 117, 117, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 231, 248);
}

.recipe-show-title {
  font-family: 'Montaga', serif;
  font-size: 60px;
  margin-top: 40px;
  margin-left: 40px;
  font-weight: normal;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.7);
  white-space: wrap;
}

.recipe-show-body-description {
  margin-left: 150px;
  font-size: 18px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid;
  font-weight: bold;
  height: 130px;
}

.recipe-show-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.recipe-show-icons-blocks {
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.recipe-show-icons-blowup {
  font-size: 60px;
  color: rgba(127, 192, 246, 0.4);
  margin-left: 15px;
  margin-top: 10px;
}
#recipe-show-icons-time {
  position: absolute;
  top: 270px;
  color: white;
  font-weight: bolder;
}

#recipe-show-icons-serving {
  position: absolute;
  top: 270px;
  color: white;
  font-weight: bolder;
}

#user_filter_link {
  position: absolute;
  top: 270px;
  color: white;
  font-weight: bolder;
}

.recipe-show-main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.recipe-show-text-heading {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 10px;
  margin-top: 40px;
}

#recipe-show-list {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.recipe-show-comments {
  width: 100%;
}

.recipe-show-comments-head {
  color: rgba(0, 44, 73, 0.5);
  font-size: 80px;
  height: 180px;
  padding-top: 40px;
  padding-left: 100px;
}
.recipe-show-submittag {
  height: 40px;
  background-color: rgb(128, 214, 240);
  border: none;
  letter-spacing: 3px;
  border-radius: 10px;
  font-weight: bold;
}

.recipe-show-commentfield {
  width: 200px;
  top: -30px;
}

.recipe-show-commentfield {
  margin-left: 400px;
  height: 40px;
  width: 350px;
  border-radius: 5px;
}

.recipe-show-comment-box {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  width: 600px;
  border-radius: 20px;;
  margin-left: 200px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.recipe-show-comment_name {
  color: black;
  letter-spacing: 3px;
  margin-left: 50px;
  font-size: 30px;
  border-bottom: 1px solid;
}
.recipe-show-comment_body {
  margin-left: 20px;
  letter-spacing: 3px;
}

.recipe-show-footer {
  height: 200px;
}

.recipe-show-fav {
  position: absolute;
  top: 270px;
  color: white;
  font-weight: bolder;
  border: none;
  background: none;
}

/*  Edit page stylng */ 

.edit-profile-form {
  width: 400px;
  height: 35px;
  border: none;
  border-bottom: 2px solid rgb(218, 218, 218);
  margin-left: 30px;
  margin-top: 30px;
  transition: all .5s ease;
  font-size: 16px;
  letter-spacing: 2px;

}
.edit-profile-form:focus {
  outline: none;
  font-size: 25px;
}

.edit-profile-box {
  background-color: rgba(187, 187, 187, 0.287);
  border-radius: 0px 150px 0px 0px;
  width: 800px;
}

.edit-profile-container {
  margin-left: 50px;
}

.edit-profile-text {
  width: 100px;
  font-size: 20px;
}

.edit-profile-text-describe {
  width: 250px;
  font-size: 20px;
}

.edit-profile-form-describe {
  width: 530px;
  height: 80px;
  border: none;
  border-bottom: 2px solid rgb(218, 218, 218);
  margin-top: 30px;
  transition: all .5s ease;
  font-size: 16px;
  letter-spacing: 2px;
  margin-left: 10px;
}