// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
}

.profile-card-wrapper {
    width: 300px;
    height: 500px;
    position: relative;
}

.profile-card {
    margin-left: 30px;
    margin-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    transition: 0.5s;

.profile-card-image {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgb(223, 223, 223);
    transition: .5s;
    }

    &:hover img {
        opacity: 0.4;
        transition: .5s;
    }
}

.profile-card:hover .profile-card-image {
    transform: translateY(-100px);
    transition: all .9s;
}

.profile-card-under-placeholder {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .profile-icon {
        margin-left: 40px;
        margin-right: 40px;

        a {
            position: relative;
            width: 10px;
            height: 50px;
            line-height: 50px;
            background: rgba(255, 255, 255, 0);
            font-size: 23px;
            color: #333;
            font-weight: bold;
            transition: .4s;
            opacity: 0;
        }
    }
}

.profile-card:hover .profile-icon a {
    color: rgb(0, 0, 0);
    opacity: 1;
}

.profile-card-name {
    position: absolute;
    color: #383838;;
    text-align: left;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 5px 20px;
    top: 290px;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.4);
    width: 300px;
    border-radius: 20px 0px 0px 20px;
}

.profile-card-description {
    position: absolute;
    color: #525252;;
    text-align: left;
    font-weight: lighter;
    letter-spacing: 0.1em;
    margin: 5px 10px;
    top: 350px;
    font-size: 15px;
}

.new-recipe-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.pagination_box{
  background: linear-gradient(to right,  rgba(97, 210, 255, 0) 0%,rgb(240, 240, 240) 17%,rgb(240, 240, 240) 83%,rgba(255, 255, 255, 0) 100%);
  height: 80px;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
  top: 50%;
  width: 60%;
  margin-left: 50%;
  margin-top: 70px;
}
.pagination_links{
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
}

.new-recipe-full {
  width: 100%;
}

.new-recipe-left {
  width: 48%;
  text-align: center;
  margin: 5px;
  margin-top: 30px;
}

.new-recipe-right {
  width: 48%;
  text-align: center;
  padding: 20px;
  margin: 5px;
  margin-top: 30px;
  background-color: rgba(255, 232, 230, 0.212);
  color: rgb(63, 63, 63);
  font-weight: bolder;
  border-radius: 20px;
  box-shadow: -1px 0px 16px 1px rgba(0,0,0,0.75);
}

.form-group-step {
  width: 80%;
}

.form-group {
  width: 500px;
}

.upload-field {
  padding: 4px;
  margin: 5px;
}

.new-recipe-label {
  font-size: 20px;
  font-weight: 500;
}

.new-ingredient-input {
  float: right;
}

.new-ingredient-label {
  font-size: 20px;
  font-weight: 500;
  margin-right: 8px;
  margin-left: 8px;
}

.new-recipe-title {
  margin: 30px
}


#ocr-upload-form {
  margin-top: 35px;
}

div[id*='ingredient_'] {
  margin-bottom: 5px;
}

.new-recipe-container-details {
  width: 60%;
}

.create-recipe-text {
  margin-left: 40px;
  width: 200px;
  font-size: 20px;
}

.create-recipe-form {
  width: 200px;
  height: 35px;
  border: none;
  border-bottom: 2px solid rgb(218, 218, 218);
  margin-left: 30px;
  margin-top: 30px;
  transition: all .5s ease;
  font-size: 16px;
  letter-spacing: 2px;
}

.create-recipe-long-text {
  margin-left: 40px;
  width: 600px;
  font-size: 20px;
  font-weight: bold;
}
.create-button {
  margin-left: 20px;
}

